@{
    ViewBag.Title = "首页";
}
@using MyUI.Models
@model CommentDto
@Styles.Render("~/Content/Home/home.css")
@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

<script type="text/javascript">
    $(document).ready(function () {
        $("#commit").click(function () {
            if (@(Session["account"] == null?"true":"false")) {
                if(window.confirm("还未登陆，是否跳转到登陆界面?"))
                    location.href = '@Url.Action("Index", "Login" )';
                return;
            }
            var con = $("#Content").val();
            if (con.length < 10) {
                window.alert("字数不少于10个");
                return;
            }else{
                var options = {
                    url: '@Url.Action("index", "Home")',
                    type: 'post',
                    dataType: 'json',
                    data: $("form").serialize(),
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.readyState + " " + XMLHttpRequest.status + " " + textStatus);
                    },
                    success: function (data) {
                        if (data.Status == false) {
                            window.alert(data.Message);
                        }
                        else {
                            location.reload();//刷新当前页面
                        }
                    }
                };
                $.ajax(options);
            }
        });

        loadComment();
    });
    function loadComment() {
        $.ajax({
            url: '@Url.Action("CommentSection", "Home")',
            type: 'get',
            dataType: 'json',
            data: { "articleId": "1", "pageNo": "0", "rowCount": "-1" },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.readyState + " " + XMLHttpRequest.status + " " + textStatus);
            },
            success: function (data) {
                if (data.Status) {
                    var dataObj = eval("(" + data.Obj + ")");
                    $.each(dataObj, function (idx, item) {
                        $("#comment_list").append(getCommentItem(item));
                    })
                }else{
                    window.alert(data.Message);
                }
            }
        })
    }

    function getCommentItem(data) {
        var comment_item = $("<dl></dl>").addClass("comment_item");
        var comment_head = $("<dt></dt>").addClass("comment_head");
        var comment_user = $("<span></span>").addClass("comment_user").text(data.FromUId);
        var comment_ret = $("<a></a>").addClass("cmt_btn_reply");
        //这里onclick事件传入用户id
        comment_ret.attr({ href: "javascript:void(0)", onclick: "putComment(" + data.Id + ",'" + data.FromUId + "',this)" }).text("[回复]");
        var comment_time_ret = $("<span></span>").text(data.Time.replace(/T/, " ")).append(comment_ret).addClass("comment_time_ret");

        comment_head.append(comment_user);
        comment_head.append(comment_time_ret);

        var comment_body = $("<dd></dd>");
        comment_body.addClass("comment_body");
        comment_body.append($("<pre></pre>").text(data.Content));

        comment_item.append(comment_head);
        comment_item.append(comment_body);
        //评论
        if ("[]" != data.Reply) {
            var replyObj = eval("(" + data.Reply + ")");
            var reply_item = $("<ul></ul>");
            $.each(replyObj, function (idx, item) {
                reply_item.append($("<li></li>").append($("<hr>")).append(getReplyItem(data.Id, item)));
            })
            comment_item.append(reply_item);
        }
        return comment_item;
    }

    function getReplyItem(comment_id, data) {
        var reply_item = $("<dl></dl>");
        var reply_head = $("<dt></dt>").addClass("reply_head");
        var reply_user = $("<span></span>").addClass("reply_user").text(data.FromUId + " to " + data.ToUId);
        var reply_ret = $("<a></a>").addClass("rep_btn_reply");
        //这里onclick事件传入回复用户id
        reply_ret.attr({ href: "javascript:void(0)", onclick: "putReply(" + comment_id + ",'" + data.FromUId + "',this)" }).text("[回复]");

        var reply_time_ret = $("<span></span>").text(data.Time.replace(/T/, " ")).append(reply_ret).addClass("reply_time_ret");

        reply_head.append(reply_user);
        reply_head.append(reply_time_ret);

        var reply_body = $("<dd></dd>").addClass("reply_body").append($("<pre></pre>").text(data.Content));

        reply_item.append(reply_head);
        reply_item.append(reply_body);
        return reply_item;
    }

    function putComment(comment_id, to_uid, obj) {
        if (@(Session["account"] == null?"true":"false")) {
            if(window.confirm("还未登陆，是否跳转到登陆界面?"))
                location.href = '@Url.Action("Index", "Login" )';
            return;
        }
        $(".comment_item textarea").remove();
        $(".comment_item .button").remove();
        var btn = $("<input>").addClass("button").attr({ type: "button", style: "float:right;", value: "回 复" });
        var text_area = $("<textarea></textarea>").attr({ style: "resize: none; width:550px;", oninput: "autoTextAreaHeight(this)" });
        $(obj).parent().parent().parent().append(text_area).append(btn);
        $("html, body").animate({ scrollTop: text_area.prev().children("li:last-child").offset().top }, 1000);
        btn.click(function () {
            if (text_area.val().length < 10) {
                window.alert("字数不少于10个");
                return;
            }
            $.ajax({
                url: '@Url.Action("ReplySection", "Home")',
                type: 'post',
                dataType: 'json',
                data: { "commentId": comment_id, "toUId": to_uid, "content": text_area.val() },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.readyState + " " + XMLHttpRequest.status + " " + textStatus);
                },
                success: function (data) {
                    if (data.Status) {
                        $("#comment_list").html("");
                        loadComment();
                    } else {
                        alert(data.Message);
                    }
                }
            })
        });
    }

    function putReply(comment_id, to_uid, obj){
        if (@(Session["account"] == null?"true":"false")) {
            if(window.confirm("还未登陆，是否跳转到登陆界面?"))
                location.href = '@Url.Action("Index", "Login" )';
            return;
        }
        $(".comment_item textarea").remove();
        $(".comment_item .button").remove();
        var btn = $("<input>").addClass("button").attr({ type: "button", style: "float:right;", value: "回 复" });
        var text_area = $("<textarea></textarea>").attr({ style: "resize: none; width:500px;margin:0 auto;", oninput: "autoTextAreaHeight(this)" });
        $(obj).parent().parent().parent().append(text_area).append(btn);
        $("html, body").animate({ scrollTop: $(obj).parent().parent().offset().top }, 1000);
        btn.click(function () {
            if (text_area.val().length < 10) {
                window.alert("字数不少于10个");
                return;
            }
            $.ajax({
                url: '@Url.Action("ReplySection", "Home")',
                type: 'post',
                dataType: 'json',
                data: { "commentId": comment_id, "toUId": to_uid, "content": text_area.val() },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.readyState + " " + XMLHttpRequest.status + " " + textStatus);
                },
                success: function (data) {
                    if (data.Status) {
                        $("#comment_list").html("");
                        loadComment();
                    } else {
                        alert(data.Message);
                    }
                }
            })
        });
    }

    function autoTextAreaHeight(o) {
        var s = o.value;
        if (s.match(/\n/g) != null) {
            var count = s.match(/\n/g).length;
            $(o).attr({ rows: count + 2 });
        }
    }
</script>
<div class="back">
    <p style="background:#f5f5f5;padding:20px;">欢迎您 @Session["account"]</p>
    <div class="content">
        <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">

            <h1 class="post-title" itemprop="name headline">C#连接MySQL并操作</h1>

            <div class="post-meta">
                <span class="post-time">

                    <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                    </span>

                    <span class="post-meta-item-text">发表于</span>

                    <time title="创建于" itemprop="dateCreated datePublished" datetime="2018-04-10T16:57:00+08:00">
                        2018-04-10
                    </time>
                </span>

                <span class="post-category">

                    <span class="post-meta-divider">|</span>

                    <span class="post-meta-item-icon">
                        <i class="fa fa-folder-o"></i>
                    </span>

                    <span class="post-meta-item-text">分类于</span>

                    <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                        <a href="https://lazysleep.github.io/categories/C-%E5%AD%A6%E4%B9%A0%E7%AC%94%E8%AE%B0/" itemprop="url" rel="index">
                            <span itemprop="name">C#学习笔记</span>
                        </a>
                    </span>
                </span>

                <span id="/2018/04/10/net1/" class="leancloud_visitors" data-flag-title="C#连接MySQL并操作">
                    <span class="post-meta-divider">|</span>
                    <span class="post-meta-item-icon">
                        <i class="fa fa-eye"></i>
                    </span>

                    <span class="post-meta-item-text">阅读次数:</span>

                    <span class="leancloud-visitors-count">3</span>
                </span>

                <div class="post-wordcount">

                    <span class="post-meta-item-icon">
                        <i class="fa fa-file-word-o"></i>
                    </span>

                    <span class="post-meta-item-text">字数统计:</span>

                    <span title="字数统计">
                        345
                    </span>

                    <span class="post-meta-divider">|</span>

                    <span class="post-meta-item-icon">
                        <i class="fa fa-clock-o"></i>
                    </span>

                    <span class="post-meta-item-text">阅读时长 ≈</span>

                    <span title="阅读时长">
                        1
                    </span>
                </div>
            </div>
        </header>
        <div class="post-body" itemprop="articleBody" style="opacity: 1; display: block; transform: translateY(0px);">
            <p>没找到合适的视频资料学习。。有点痛苦= = QAQ！！！<br>笔记基于VS2017</p>
            <p>根据教程 <a href="https://blog.csdn.net/u011028345/article/details/71081126" target="_blank" rel="noopener">ASP.NET实现三层架构网站创建流程</a> 不过这里面使用的是SQL SERVER，但是对我来说很棒了一套流程</p>
            <p>先后在<a href="https://dev.mysql.com/downloads/connector/" target="_blank" rel="noopener">MySQL官网</a>下载安装了<br>mysql-connector-odbc-5.3.10-winx64.msi<br>mysql-for-visualstudio-1.2.7.msi<br>mysql-connector-net-6.10.6.msi</p>
            <p>然后用工具-&gt;连接到数据库 操作失败，具体问题忘记了。。事后才写的笔记，有点难受。。</p>
            <p>反正就是版本不匹配，然后我把 mysql-connector-net-6.10.6 删了换6.9.8版本</p>
            <p>连上数据库后 在界面的右侧或者左侧（反正多找找，找不到就在 <strong>导航栏-&gt;视图-&gt;其他窗口</strong> 打开，别的视窗找不到就按类似方法找）打开服务器资源管理器就能看到连上的数据库，要启动MYSQL服务先</p>
            <p>打开解决方案选项卡，右键解决方案项目-&gt;管理解决方案的NUGET程序包<br>搜索安装 MySql.Data<br>然后在项目中右键引用-&gt;添加引用 引入MySql.Data<br>接着在项目中using就行了</p>
            <p><a href="http://www.jb51.net/article/61219.htm" target="_blank" rel="noopener">C#对SQL操作方法</a> </p>
            <p>然后终于连上了根据<a href="https://blog.csdn.net/u011028345/article/details/71081126" target="_blank" rel="noopener">ASP.NET实现三层架构网站创建流程</a>教程，实现了前台注册功能</p>
            <p>= = 果然还是太菜了</p>
            <script src="/live2dw/lib/L2Dwidget.min.js?0c58a1486de42ac6cc1c59c7d98ae887"></script>
            <script>L2Dwidget.init({ "model": { "jsonPath": "/live2dw/assets/wanko.model.json" }, "display": { "position": "right", "width": 100, "height": 200 }, "mobile": { "show": false } });</script>
        </div>
    </div>
    <hr>
    <div id="comment">
        @using (Html.BeginForm())
        {
            <p>评论</p>
            @Html.HiddenFor(T => T.ArticleId, new { @Value = "1" })
            @Html.TextAreaFor(T => T.Content, new { @style = "resize:none;width:640px;", @rows = "10" })
            <input id="commit" class="button" type="button" style="float:right;" value="提&nbsp;&nbsp;交">
        }
        <div id="comment_list">
        </div>
    </div>
</div>